.header {
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

.header .inner {
    width: 1170px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header .inner .gnb>ul {
    display: flex;
}

.header .inner .gnb>ul>li {
    position: relative;
}

.header .inner .gnb>ul>li>a {
    display: block;
    line-height: 100px;
    padding: 0 30px;
}

.header .inner .gnb>ul>li .sub {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0);

    background: #fff;
    border: 4px solid #ddd;
    width: 200px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    z-index: 999;
}

.header .inner .gnb>ul>li .sub li~li {
    border-top: 1px solid #ddd;
}

.header .inner .gnb>ul>li .sub a {
    display: block;
    text-align: center;
    line-height: 40px;
}

.header .inner .gnb>ul>li:hover .sub {
    opacity: 1;
    visibility: visible;
    top: 80px;
}

.header .inner .util_area {
    margin: 0 0 0 auto;
    padding: 40px;
}

.main_visual {}

.main_visual .main_visual_slide .itm {
    height: 640px;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../psd/main_visual_slide01.jpg);
}

.main_visual .main_visual_slide .itm02 {
    background: url(../psd/main_visual_slide02.jpg);
}

.main_visual .main_visual_slide .itm03 {
    background: url(../psd/main_visual_slide03.jpg);
}

.main_visual .main_visual_slide .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
}

.main_visual .main_visual_slide .slick-dots button {
    border: none;
    margin: 0 4px;
    width: 20px;
    height: 20px;
    font-size: 12px;

    background: #333;
    color: #fff;

    border-radius: 50%;
}


.main_visual .main_visual_slide .slick-dots li.slick-active button {
    background: tomato;
}

.main_content {
    padding: 80px;
}

.main_content .tit {
    width: 1170px;
    margin: 0 auto 40px auto;
}

.main_content .tit h2 {
    text-align: center;
    margin: 0 0 16px 0;
    font-size: 32px;
    font-weight: 800;
}

.main_content .tit p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.main_content .inner {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;
}

.main_product {
    position: relative;
}

.main_product .title {
    margin: 0 auto 40px auto;
    width: 1170px;
}

.main_product .title h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0 0 16px 0;
    text-align: center;
}

.main_product .title p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 16px 0;
    text-align: center;
}

.main_product .inner {
    overflow: hidden;
    width: 1170px;
    margin: 0 auto;
}

.main_product .main_product_slide {
    margin: 0 -15px;

}

.main_product .main_product_slide .itm {
    margin: 0 15px;
}

.main_product .main_product_slide .itm strong {
    text-align: center;
    margin: 16px 0 0 0;
    display: block;
}

.main_product_slide .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_product_slide .arrows button {
    position: absolute;
}

.main_product_slide .arrows .prev {
    left: 0;
}

.main_product_slide .arrows .right {
    right: 0;
}

.main_product_slide .arrows button i {
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    color: #fff;
    cursor: pointer;
}

.main_product .main_product_slide .slick-dots {
    text-align: center;
    margin: 32px;
}

.main_product .main_product_slide .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}